{sub_dirs,["apps"]}.
{deps_dir,"deps"}.

{deps, [   
    {naga,    ".*", {git, "https://github.com/naga-framework/naga",      {tag, "master"} }}
   ,{dynarec, ".*", {git, "https://github.com/mihawk/dynarec",           {branch,"naga"} }}
   ,{gentelella,".*",{git,"https://github.com/naga-framework/gentelella",{tag, "master"} }}
   ,{pbkdf2,  ".*", {git, "https://github.com/basho/erlang-pbkdf2.git",  {tag, "2.0.0"}  }}
   ,{kvs,     ".*", {git, "https://github.com/synrc/kvs",                {tag, "master"} }}
   ,{markdown,".*", {git, "https://github.com/erlware/erlmarkdown",      {tag, "master"} }}
]}.

