{sub_dirs,["apps"]}.
{deps_dir,"deps"}.

{deps, [   
    {naga,    ".*", {git, "https://github.com/naga-framework/naga",      {tag, "master"} }}
   ,{dynarec, ".*", {git, "https://github.com/mihawk/dynarec",           {branch,"naga"} }}
   ,{pbkdf2,  ".*", {git, "https://github.com/basho/erlang-pbkdf2.git",  {tag, "2.0.0"}  }}
   ,{kvs,     ".*", {git, "https://github.com/synrc/kvs",                {tag, "master"} }}
   ,{kvs_feeds,".*",{git, "https://github.com/erlang-one/kvs_feeds",     {tag, "master"} }}
   ,{cms_adm, ".*", {git, "https://github.com/naga-framework/cms_adm",   {tag, "master"} }}
   ,{blog, ".*", {git, "https://github.com/naga-framework/blog",         {tag, "master"} }}
]}.

