[
{n2o,[
     {port, 8001 }
    ,{websocket_port, 8001 }
    ,{upload, "/tmp"}
    ,{session, n2o_session}
    ,{ttl, 3600}
    ,{mq, n2o_syn}
    ,{formatter,bert}
    ,{minify,{"apps/cms/priv/static",
               ["deps/n2o/priv/bullet.js",
                "deps/n2o/priv/n2o.js",
                "deps/n2o/priv/ftp.js",
                "deps/n2o/priv/protocols/bert.js",
                "deps/n2o/priv/protocols/nitrogen.js",
                "deps/n2o/priv/utf8.js",
                "deps/n2o/priv/validation.js"]}}
    ,{route, naga_routes}
    ,{secret,<<"bizwego-This-IS-Classified-Change-Me">>}
    ,{log_modules, cms }
    ,{log_backend, n2o_log}
    ,{origin,<<"*">>}
    ,{bridge,naga_cowboy}
    ,{pickler,n2o_pickle}
    ,{erroring,n2o_error}
    ,{event,pickle}
    ,{protocols,[ n2o_heart,
                  n2o_nitrogen,
                  n2o_file,
                  n2o_client
                ]}
    ]},

{ naga, [
      {watch,[cms]}
     ]},

{mnesia, [{dir, "./data/db"}
          %,{debug, verbose}
         ]},

{kvs, [
    {dba,store_mnesia},
    {generation,{cms_db,limit}},
    {forbidding,{cms_db,forbid}},
    {schema, [
               kvs_feed
              ,kvs_subscription 
              ,cms_db
             ]}
    ]},

 { cms, [
          {domain, all}
         ,{mode, dev}
         ,{theme, blog}

         ,{rules, [view,routes]}
         ,{lang_dir, "./priv/lang"}                      
         ,{base_url,  "/"}
         ,{modules, [cms_adm]}  
     
         ,{assume_locale, <<"en">>}
         ,{i18n, false}

         ,{websocket_port, 8001 }
         ,{listeners,[
                      {http, [
                               {acceptors, 10},
                               {ip,{0,0,0,0}},
                               {port, 8001 }
                             ]}
                      ]}

         ,{data_dir, "./data" }
         ,{upload_dir, "/tmp"}
         ,{controller_filters_config,[]}
         ,{controller_filters,[
                   cms_filter_theme
                  ]}

         ,{template_tag_modules,[]}
         ,{template_filter_modules,[]}

        ]},

 { cms_adm, [
          {domain, all}
         ,{mode, dev}
         ,{theme, gentelella}
         ,{base_url,  "/admin"}
         ,{assume_locale, <<"en">>}
         ,{i18n, false}
         ,{websocket_port, 8001 }
         ,{listeners,[
                      {http, [
                               {acceptors, 10},
                               {ip,{0,0,0,0}},
                               {port, 8001 }
                             ]}
                      ]}


         ,{controller_filters_config,[
                         { cms_adm_filter_auth, []}
                        ]}

         ,{controller_filters,[
                   cms_adm_filter_auth,
                   cms_filter_theme
                  ]}

         ,{template_tag_modules,[]}
         ,{template_filter_modules,[]}

        ]}
].
