{% extends "adm/_layout/page_steroid.html" %}

{% block page_content %} 
  <!-- page content -->
  <div class="right_col" role="main">
      {% top_tiles %}


{#
    <div class="row">
      {% network_graph %}
    </div>
    <br />

    <div class="row">
      {% app_versions %}
      {% device_usage %}
      {% quick_settings %}
    </div>

    <div class="row">
      {% recent_activities %}
      <div class="col-md-8 col-sm-8 col-xs-12">
        <div class="row">
          {% visitor_location %}
        </div>
        <div class="row">
          {% todo_list %}
          {% weather_widget %}
        </div>
      </div>
    </div>
#}
  </div>
  <!-- /page content -->
{% endblock %}
