{deps_dir, ["../../deps"]}.
{lib_dirs, ["../../apps"]}.
{deps, []}.
{erlydtl_opts, [

     {out_dir,     "ebin"}
    ,{compiler_options, [report, return, debug_info]}

     %% ----- n2o template -----
    ,{doc_root,    "priv/templates"}
    ,{source_ext, ".dtl"}
    ,{module_ext, "_view"}
    ,{auto_escape, false}

    %% ----- naga template -----
    ,{naga, [  {enable, true}
              ,{app, "cms" }
              ,{view_dir, ["src", "view"]}
              ,{extensions, [{".html","_html"},{".js", "_js"},{".css","_css"},{".json","_json"},{".txt","_txt"}]}
              ,{auto_escape, false}
            ]}
]}.
