<!DOCTYPE html>
<html lang="{% if _lang %}{{_lang}}{% else %}en{% endif %}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{page.meta}}
    <title>{{page.title}}</title>
    {{page.css}}
</head>

<body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title">
                <i class="fa fa-paw"></i>
                <span>{{page.title}}</span>
              </a>
            </div>

            <div class="clearfix"></div>
            {% my_quick_info user=user %}
            <br />
            {% my_sidebar_menu %}
          </div>
        </div>
        {% my_top_nav user=user %}
        {% block page_content %} {% endblock %}
        {% page_footer %}
      </div>
    </div>

<script>{{script}}</script>
<script src='/static/n2o/protocols/bert.js'></script>
<script src='/static/n2o/protocols/client.js'></script>
<script src='/static/n2o/protocols/nitrogen.js'></script>
<script src='/static/n2o/bullet.js'></script>
<script src='/static/n2o/xhr.js'></script>
<script src='/static/n2o/utf8.js'></script>
<script src='/static/n2o/template.js'></script>
<script src='/static/n2o/n2o.js'></script>
<script src='/static/n2o/validation.js'></script>
<script>protos = [$client,$bert]; N2O_start();</script>
{{page.js}}
</body>
</html>
