<!DOCTYPE html>
<html lang="{% if _lang %}{{_lang}}{% else %}en{% endif %}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {{page.meta}}
    <title>{{page.title}}</title>
    {{page.css}}
</head>
<body class="nav-md">
<div class="container body">
  <div class="main_container">
    <div class="col-md-3 left_col">
      <div class="left_col scroll-view">
        <div class="navbar nav_title" style="border: 0;">
          <a href="/" class="site_title">
            <i class="fa fa-paw"></i> 
            <span>{{app.name}} - {{page.title}}</span>
          </a>
        </div>

        <div class="clearfix"></div>
        {% menu_profile_quick_info %}
        <br />
        {% sidebar_menu %}
        {% sidebar_footer_menu %}
      </div>
    </div>
    {% top_nav %}
    {% block page_content %} {% endblock %}
    {% page_footer credit=app.credit %}
  </div>
</div>
 {{page.js}}
</body>
</html>
